.navbar
{
    position: fixed !important;
    z-index: 1 !important;
    margin-left: -31px;
    padding-right: 100% !important;
    padding-left: 40px !important;
}

.navbar-toggler-icon
{
    height: 44px !important;
    width: 44px !important;
}

.navbar ul
{
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
}

.navbar-collapse a
{
    all: unset;
}

.navbar li
{
    padding-bottom: 20px;
}

.navbar-collapse
{
    padding-top: 20px;
    color: white;
}

.nav-name
{
    position: fixed !important;
    margin-top: 20px;
    margin-left: 100px;
    z-index: 2 !important;
    background-color: #353a40;
    color: white;
    font-size: 20px;
}

.navbar li
{
    padding-bottom: 20px;
}

.navbar-collapse
{
    padding-top: 20px;
    background-color: #353a40 !important;
    color: white;
}

.social-links
{
    padding-top: 80px;
}

.social-links img
{
    padding-top: 30px;
    height: auto;
    width: 40px;
}

.bio-overview
{
    padding-top: 20px;
}