body
{
    background-color: #ebeaea !important;
}

.navbar
{
    position: fixed !important;
    z-index: 1 !important;
    margin-left: -31px;
    padding-right: 100% !important;
    padding-left: 40px !important;
}

.navbar-toggler-icon
{
    height: 44px !important;
    width: 44px !important;
}

.navbar ul
{
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
}

.navbar-collapse a
{
    all: unset;
}

.navbar li
{
    padding-bottom: 20px;
}

.navbar-collapse
{
    padding-top: 20px;
    color: white;
}

.nav-name
{
    position: fixed !important;
    margin-top: 20px;
    margin-left: 100px;
    z-index: 2 !important;
    background-color: #353a40;
    color: white;
    font-size: 20px;
}

.nav-name a
{
    all: unset;
}

.navbar li
{
    padding-bottom: 20px;
}

.navbar-collapse
{
    padding-top: 20px;
    background-color: #353a40 !important;
    color: white;
}

.desktop-navbar
{
    padding-top: 20px;
    background-color: #212121ea;
    color: white;
}

.desktop-navbar ul
{
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.desktop-navbar a
{
    all: unset;
}

.desktop-navbar li
{
    margin-left: 40px;
}

.social-links
{
    text-align: center;
}

.social-links img
{
    padding-top: 30px;
    height: auto;
    width: 40px;
}

.bio-overview
{
    padding-top: 20px;
}

@media (min-width: 1200px)
{   
    .social-links
    {
        text-align: right;
    }

    .bio-overview h1
    {
        padding-top: 30px;
        font-size: 60px;
    }

    .bio-overview h2
    {
        padding-top: 20px;
        font-size: 60px;
    }
    
    .bio-overview img
    {
        height: auto;
        width: 300px;
    }

    .bio-description
    {
        padding-top: 20px;
    }

    .bio-description p
    {
        padding-top: 20px;
        font-size: 20px;
    }
}