.navbar
{
    position: fixed !important;
    z-index: 1 !important;
    margin-left: -31px;
    padding-right: 100% !important;
    padding-left: 40px !important;
}

.navbar-toggler-icon
{
    height: 44px !important;
    width: 44px !important;
}

.navbar ul
{
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
}

.navbar-collapse a
{
    all: unset;
}

.navbar li
{
    padding-bottom: 20px;
}

.navbar-collapse
{
    padding-top: 20px;
    color: white;
}

.nav-name
{
    position: fixed !important;
    margin-top: 20px;
    margin-left: 100px;
    z-index: 2 !important;
    background-color: #353a40;
    color: white;
    font-size: 20px;
}

.navbar li
{
    padding-bottom: 20px;
}

.navbar-collapse
{
    padding-top: 20px;
    background-color: #353a40 !important;
    color: white;
}

.desktop-navbar
{
    padding-top: 20px;
}

.desktop-navbar ul
{
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.desktop-navbar a
{
    all: unset;
}

.desktop-navbar li
{
    margin-left: 40px;
}

.header-title
{
    padding-top: 20px;
}

.header-title b
{
    font-size: 20px;
}

.project-list a
{
    all: unset;
    text-decoration: underline;
}

@media (min-width: 1200px)
{
    .header-title
    {
        padding-top: 0;
    }

    .header-title b
    {
        font-size: 25px;
    }
}