.navbar
{
    position: fixed !important;
    z-index: 1 !important;
    margin-left: -31px;
    padding-right: 100% !important;
    padding-left: 40px !important;
    padding-bottom: 20px !important;
}

.navbar-toggler-icon
{
    margin-top: 20px !important;
    height: 44px !important;
    width: 44px !important;
}

.navbar ul
{
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
}

.navbar-collapse a
{
    all: unset;
}

.navbar li
{
    padding-bottom: 20px;
}

.navbar-collapse
{
    background-color: #353a40 !important;
    padding-top: 20px;
    color: white;
}

.nav-name
{
    position: fixed !important;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 90px;
    z-index: 2 !important;
    background-color: #353a40;
    color: white;
    font-size: 20px;
}

.header-title
{
    padding-top: 120px;
}

.header-title b
{
    padding-top: 40px;
    font-size: 20px;
}

.project-list a
{
    all: unset;
    text-decoration: underline;
}

.project-list p
{
    padding-top: 10px;
}

.project-preview
{
    padding-top: 50px;
}
