.navbar
{
    position: fixed !important;
    margin-left: -30px !important;
    z-index: 1 !important;
    margin-top: -10px;
}

.navbar button
{
    all: unset;
}

.navbar-toggler-icon
{
    height: 44px !important;
    width: 44px !important;
}

.navbar ul
{
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
}

.navbar-collapse a
{
    all: unset;
}

.navbar li
{
    padding-bottom: 20px;
}

.navbar-collapse
{
    padding-top: 20px;
    background-color: rgba(44, 44, 49, 0.815);
    color: white;
}

.nav-name
{
    padding-top: 10px;
    font-size: 20px;
}

.header-title
{
    padding-top: 40px;
    font-size: 20px;
}

.project-list a
{
    all: unset;
    text-decoration: underline;
}

.project-list p
{
    padding-top: 10px;
}

.project-preview
{
    padding-top: 50px;
}
