.navbar
{
    position: fixed !important;
    z-index: 1 !important;
    margin-left: -31px;
    padding-right: 100% !important;
    padding-left: 40px !important;
}

.navbar-toggler-icon
{
    height: 44px !important;
    width: 44px !important;
}

.navbar ul
{
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
}

.navbar-collapse a
{
    all: unset;
}

.navbar li
{
    padding-bottom: 20px;
}

.navbar-collapse
{
    padding-top: 20px;
    color: white;
}

.nav-name
{
    position: fixed !important;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 100px;
    z-index: 2 !important;
    background-color: #353a40;
    color: white;
    font-size: 20px;
}

.project-overview
{
    padding-top: 80px;
}

.project-screenshots img
{
    padding-top: 20px;
}

.project-highlights
{
    padding-top: 40px;
}

.highlights-button-row
{
    padding-top: 20px;
}

.download-button button
{
    background: linear-gradient(#070707, #524e61);
    color: white;
    border-radius: 10px;
    border-width: 0;
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.pdf-viewer
{
    padding-top: 20px;
    width: 100%;
    height: 475px;
}

.back-button
{
    padding-top: 20px;
}

.back-button button
{
    background: linear-gradient(#070707, #524e61);
    color: white;
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 25px;
    font-weight: 500;
}