.navbar
{
    position: fixed !important;
    margin-left: -30px !important;
    z-index: 1 !important;
    margin-top: -10px;
}

.navbar button
{
    all: unset;
}

.navbar-toggler-icon
{
    height: 44px !important;
    width: 44px !important;
}

.navbar ul
{
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
}

.navbar-collapse a
{
    all: unset;
}

.navbar li
{
    padding-bottom: 20px;
}

.navbar-collapse
{
    padding-top: 20px;
    background-color: rgba(44, 44, 49, 0.815);
    color: white;
}

.nav-name
{
    padding-top: 10px;
    font-size: 20px;
}

.project-screenshots img
{
    padding-top: 20px;
}

.project-highlights
{
    padding-top: 40px;
}

.highlights-button-row
{
    padding-top: 20px;
}

.project-highlights button
{
    background: linear-gradient(#070707, #524e61);
    color: white;
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 25px;
    font-weight: 500;
}