.navbar
{
    position: fixed !important;
    z-index: 1 !important;
    margin-left: -31px;
    padding-right: 100% !important;
    padding-left: 40px !important;
}

.navbar-toggler-icon
{
    height: 44px !important;
    width: 44px !important;
}

.navbar ul
{
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
}

.navbar-collapse a
{
    all: unset;
}

.navbar li
{
    padding-bottom: 20px;
}

.navbar-collapse
{
    padding-top: 20px;
    color: white;
}

.nav-name
{
    position: fixed !important;
    margin-top: 20px;
    margin-left: 100px;
    z-index: 2 !important;
    background-color: #353a40;
    color: white;
    font-size: 20px;
}

.nav-name a
{
    all: unset;
}

.navbar li
{
    padding-bottom: 20px;
}

.navbar-collapse
{
    padding-top: 20px;
    background-color: #353a40 !important;
    color: white;
}

.desktop-navbar ul
{
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.desktop-navbar a
{
    all: unset;
}

.desktop-navbar li
{
    margin-left: 40px;
}

.header-name
{
    padding-top: 20px;
    font-size: 30px;
}

.download-button
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.download-button button
{
    background: linear-gradient(#070707, #524e61);
    color: white;
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}

.pdf-viewer
{
    width: 100%;
    height: 1100px;
}

.back-button
{
    padding-top: 20px;
}

.back-button button
{
    background: linear-gradient(#070707, #524e61);
    color: white;
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 25px;
    font-weight: 500;
}

@media (min-width: 1200px)
{
    .resume-desktop-navbar
    {
        padding-top: 20px;
    }
}